* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.h1-header {
  color: antiquewhite;
  margin-right: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.navbar li {
  color: antiquewhite;
  border-radius: 5px;
  background-color: #070707;
  display: flex;
  align-items: center;
  border: 1px solid whitesmoke;
  transition: background-color 0.3s;
  position: relative; /* Garante que o item ocupe toda a área */
}

.navbar li:hover {
  background-color: #474849;
}

.navbar a, .navbar .nav-link {
  color: antiquewhite;
  text-decoration: none;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  color: antiquewhite;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #070707;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu button {
  background: none;
  border: none;
  color: antiquewhite;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #474849;
}

.arrow-icon {
  width: 12px;
  height: auto;
  transition: transform 0.3s;
}

.arrow-icon.open {
  transform: rotate(180deg);
}

@media screen and (max-width: 400px) {
  .h1-header {
    font-size: 20px;
    margin-right: 0;
    margin-bottom: 1em;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    right: auto;
  }

  .dropdown-menu button {
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .h1-header {
    font-size: 24px;
    margin-right: 10px;
    margin-bottom: 1em;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .navbar li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    width: 100%;
    left: 0;
    right: auto;
  }

  .dropdown-menu button {
    text-align: center;
  }
}
