/* ../Main/Main.css */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

main div {
  flex: 1;
}

main img {
  max-width: 100%;
  height: auto;
  margin-top: 7em;
}

main h2 {
  color: #7BFF8B;
  margin-bottom: 1em;
}

main h1 {
  color: #FFFFFF;
  font-size: 48px;
  margin-bottom: 1em;
}

.h3-main {
  color: #FFFFFF;
  margin-top: 3em;
  margin-left: 3em;
  background-color: #070707;
  padding: 10px;
  display: inline-block;
  border: 1px solid whitesmoke;
  border-radius: 1em;
}

.h3-main:hover {
  background-color: #474849;
}

/* CSS para o contêiner dos ícones */
.main-icons {
  display: flex;  
  gap: 10px; /* Espaçamento entre os ícones */
  margin-top: 1em; /* Espaçamento acima dos ícones */
}

.custom-image {
  width: 35px; /* Ajuste o tamanho dos ícones conforme necessário */
  height: 35px;
  transition: transform 0.3s ease; /* Transição suave para o efeito de hover */
}

.custom-image:hover {
  transform: translateY(-5px); /* Efeito de "saltar" no hover */
}

@media screen and (max-width: 400px) {
  main {
    flex-direction: column; /* Altera a direção do layout para coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }
  
  main h1 {
    font-size: 36px; /* Aumenta o tamanho da fonte do h1 */
    margin-bottom: 0.5em; /* Reduz a margem inferior para ajustar a aparência */
  }

  main img {
    margin-top: 1em; /* Reduz a margem superior da imagem */
    order: 3; /* Move a imagem para ser o terceiro item no layout de coluna */
  }

  .h3-main {
    margin-left: 0; /* Remove a margem à esquerda */
    width: 100%; /* Garante que o .h3-main ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  }

  .main-icons {
    justify-content: center; /* Centraliza os ícones horizontalmente */
    width: 100%; /* Garante que o contêiner de ícones ocupe toda a largura */
  }

  .custom-image {
    width: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  main {
    flex-direction: column; /* Altera a direção do layout para coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
  }

  main h1 {
    font-size: 36px; /* Aumenta o tamanho da fonte do h1 */
    margin-bottom: 0.5em; /* Reduz a margem inferior para ajustar a aparência */
  }

  main img {
    margin-top: 1em; /* Reduz a margem superior da imagem */
    order: 3; /* Move a imagem para ser o terceiro item no layout de coluna */
  }

  .h3-main {
    margin-left: 0; /* Remove a margem à esquerda */
    width: 100%; /* Garante que o .h3-main ocupe toda a largura */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  }

  .main-icons {
    justify-content: center; /* Centraliza os ícones horizontalmente */
    width: 100%; /* Garante que o contêiner de ícones ocupe toda a largura */
  }

  .custom-image {
    width: 30px; /* Ajuste o tamanho dos ícones conforme necessário */
    height: 30px;
  }
}